.container-md {
  max-width: 800px;
}

.py-6 {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;
}

.btn {
  --bs-btn-padding-y: 0.5rem;
  font-weight: bold;
}

.navbar-dark {
  --bs-navbar-color: white;
}

.navbar-nav .nav-link:hover {
  text-decoration: underline;
}

.blockquote-footer {
  font-size: 1rem;
}

hr {
  border-color: var(--bs-green);
  border-width: 4px;
}

#bg-video {
  z-index: -2;
  top: 0;
  object-fit: fill;
}

#bg-overlay {
  z-index: -1;
  background-image: linear-gradient(90deg, #33b7e2, #5e62b0, #dc307c);
  opacity: 0.94;
}

#quotes figure {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 0;
}

#quotes .blockquote-footer {
  margin-bottom: 0;
}

@media (min-width: 992px) {

  #quotes figure {
    height: 100%;
  }

}

#features .fa {
  font-size: 150px;
}

.timeline:after {
  content: '';
  position: absolute;
  width: 3px;
  background-color: var(--bs-light);
  top: 0;
  bottom: 0;
  left: 5px;
  opacity: 0.5;
}

.timeline-item .card {
  position: relative;
  margin-left: 15px;
}

.timeline-item .card-body {
  padding-top: 0.5rem;
}

.timeline-item .arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
  border-width: 15px !important;
  border-style: solid;
  border-left-width: 0px !important;
  left: -15px;
  top: 10px;
}

.timeline-item .bg-secondary .arrow {
  border-color: rgba(255, 255, 255, .2);
}

.single-post img {
  max-width: 100%;
  border-radius: 5px;
}

@media (min-width: 992px) {

  .timeline:after {
    left: 50%;
    margin-left: 6px;
  }

  .timeline-item:nth-child(odd) .arrow {
    border-left-width: 15px !important;
    border-right-width: 0px !important;
    right: -15px;
    left: auto;
  }

}

#about img {
  max-height: 117px;
}

@media (min-width: 992px) {
  #about img {
    max-height: none;
  }
}